<mat-card class="center-xy">
    <form
     class="login-form"
     [formGroup]="loginForm" 
     (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input 
          matInput 
          type="email" 
          placeholder="Enter your email" 
          formControlName="email">
        <mat-icon color="primary" matSuffix>email</mat-icon>
        <mat-hint>Please enter a valid email.</mat-hint>
        <mat-error>Invalid or missing email.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input 
          matInput 
          type="password" 
          placeholder="Enter your password" 
          formControlName="password">
        <mat-icon color="primary" matSuffix>lock</mat-icon>
        <mat-hint>Please enter a valid password.</mat-hint>
        <mat-error>Missing password.</mat-error>
      </mat-form-field>
      <button 
        type="submit" 
        mat-raised-button
        [disabled]="loginForm.invalid"  
        color="primary">
        Submit
      </button>
    </form>
</mat-card>