mat-card {
    width: 300px;
}

mat-form-field {
    /* 1 rem = 16 px */
    margin: 1rem;
}

button {
    margin: 1rem;
    width: 100px;
}

.center-xy {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}