ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.spacer {
    flex: 1 1 auto;
}

.user-info {
    display: flex;
}

.user-icon {
    position: relative;
    top: 5px;
}

.user-text {
    font-size: 80%;
}