<mat-toolbar class="header" color="primary">
    <mat-icon *ngIf="!userIsAuthenticated">extension</mat-icon>
    <ul *ngIf="userIsAuthenticated" class="user-info">
        <li class="user-icon">
            <mat-icon>face</mat-icon>
        </li>
        <li class="user-text">{{ userEmail }}</li>
    </ul>
    <span class="spacer"></span>
    <ul>
        <!-- <li  *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/" routerLinkActive="mat-accent">Login</a>
        </li> -->
        <li  *ngIf="userIsAuthenticated">
            <button mat-button (click)="onLogout()">Logout</button>
        </li>
    </ul>
</mat-toolbar>

